<p id="notice"><%= notice %></p>
<%= react_component 'Gym', {gym: @gym} %>
<p>
  <strong>Name:</strong>
  <%= @gym.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gym.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @gym.rating %>
</p>

<%= link_to 'Edit', edit_gym_path(@gym) %> |
<%= link_to 'Back', gyms_path %>
